/* line 14, ../../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.10.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../../app/stylesheets/partials/_navigation.sass */
ul.issue_filter {
  margin: 20px 0 15px 0;
  list-style: none;
}
/* line 2, ../../../app/stylesheets/partials/_base.sass */
ul.issue_filter:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 5, ../../../app/stylesheets/partials/_navigation.sass */
ul.issue_filter li {
  float: left;
}
/* line 7, ../../../app/stylesheets/partials/_navigation.sass */
ul.issue_filter li a {
  display: inline-block;
  padding: 3px 10px;
  margin: 0 5px 0 0;
  color: #888888;
  text-decoration: none;
}
/* line 13, ../../../app/stylesheets/partials/_navigation.sass */
ul.issue_filter li a:hover {
  font-weight: normal;
  background: #e4edf9;
  -moz-border-radius: 0.7em;
  -webkit-border-radius: 0.7em;
  border-radius: 0.7em;
  color: black;
}
/* line 20, ../../../app/stylesheets/partials/_navigation.sass */
ul.issue_filter li a.current {
  font-weight: normal;
  background: #e4edf9;
  -moz-border-radius: 0.7em;
  -webkit-border-radius: 0.7em;
  border-radius: 0.7em;
  color: black;
}

/* line 1, ../../../app/stylesheets/partials/_tables.sass */
table {
  border-collapse: collapse;
}
/* line 3, ../../../app/stylesheets/partials/_tables.sass */
table.issues {
  width: 100%;
}

/* line 6, ../../../app/stylesheets/partials/_tables.sass */
tr {
  border-bottom: 3px solid #efefef;
}

/* line 9, ../../../app/stylesheets/partials/_tables.sass */
th, td {
  padding: 10px 10px 10px 0;
  line-height: 140%;
}

/* line 13, ../../../app/stylesheets/partials/_tables.sass */
th {
  font-weight: bold;
}

/* line 17, ../../../app/stylesheets/partials/_tables.sass */
td {
  vertical-align: top;
}
/* line 19, ../../../app/stylesheets/partials/_tables.sass */
td.area {
  font-size: 12px;
}
/* line 22, ../../../app/stylesheets/partials/_tables.sass */
td span.state {
  font-size: 12px;
  color: #888888;
}
/* line 26, ../../../app/stylesheets/partials/_tables.sass */
td.initiatives {
  padding-bottom: 8px;
}
/* line 29, ../../../app/stylesheets/partials/_tables.sass */
td.initiatives ul li {
  margin: 0 0 2px 0;
}
/* line 31, ../../../app/stylesheets/partials/_tables.sass */
td.initiatives ul li.revoked {
  text-decoration: line-through;
}
/* line 33, ../../../app/stylesheets/partials/_tables.sass */
td.initiatives .supporter_count, td.initiatives .positive_votes, td.initiatives .negative_votes {
  display: block;
  width: 30px;
  float: left;
  text-align: center;
  font-size: 12px;
  background-color: #efefef;
}
/* line 40, ../../../app/stylesheets/partials/_tables.sass */
td.initiatives .supporter_count {
  padding: 0 3px;
  margin: 0 5px 0 0;
  color: darkgreen;
  -moz-border-radius: 0.7em;
  -webkit-border-radius: 0.7em;
  border-radius: 0.7em;
}
/* line 47, ../../../app/stylesheets/partials/_tables.sass */
td.initiatives .positive_votes {
  padding: 0 2px 0 3px;
  margin: 0 1px 0 0;
  color: darkgreen;
  -webkit-border-top-left-radius: 0.7em;
  -webkit-border-bottom-left-radius: 0.7em;
  -moz-border-radius-topleft: 0.7em;
  -moz-border-radius-bottomleft: 0.7em;
  border-top-left-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
}
/* line 57, ../../../app/stylesheets/partials/_tables.sass */
td.initiatives .negative_votes {
  padding: 0 3px 0 2px;
  margin: 0 5px 0 0;
  color: darkred;
  -webkit-border-top-right-radius: 0.7em;
  -webkit-border-bottom-right-radius: 0.7em;
  -moz-border-radius-topright: 0.7em;
  -moz-border-radius-bottomright: 0.7em;
  border-top-right-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
}

/* line 6, ../../../app/stylesheets/screen.sass */
body {
  margin: 30px;
  font-family: "Helvetica Neue", Corbel, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

/* line 13, ../../../app/stylesheets/screen.sass */
h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 30px 0;
}

/* line 19, ../../../app/stylesheets/screen.sass */
h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 16px 0;
}
