table
  :border-collapse collapse
  &.issues
    :width 100%
  
tr
  :border-bottom 3px solid #efefef
  
th, td
  :padding 10px 10px 10px 0
  :line-height 140%
  
th
  :font
    :weight bold

td
  :vertical-align top
  &.area
    :font
      :size 12px