@import "compass/reset"

body
  :margin 30px
  :font
    :family "Helvetica Neue", Corbel, Arial, sans-serif
    :size 14px
    :weight normal
    
h2
  :font
    :size 20px
    :weight bold
  :margin 0 0 30px 0
    
h3
  :font
    :size 16px
    :weight bold
  :margin 0 0 16px 0
  
th, td
  :padding 6px 10px 0 0
  
th
  :font
    :weight bold

